
.menu{
    background-color: black;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 20px 30px;
}

.menu li{
    display: inline;
    margin: 0;
}

.menu li a{
    color: white;
    padding: 20px 30px;
    text-decoration: none;
}

.menu li a:hover{
    background-color: #c75440;
    color: white;
}

.item-r{
    float: right;
}